/* For device equal to or less than 575px */

@media only screen and (min-width: 0px) and (max-width: 576px) {
  #banner {
    text-align: center;
  }

  #trusted-by {
    margin-top: 3.5rem;
  }

  .responsive-sm {
    margin: 0 1rem;
  }

  .company-logo {
    margin-right: -0.75rem;
  }

  #banner .content {
    margin-top: 5.938rem;
  }

  #features {
    margin-top: 3.5rem;
  }

  .key-features {
    margin-top: 4rem;
    text-align: center;
  }

  #features .features-content .content-description {
    margin-left: 0rem;
}

  #features .features-content {
    margin-top: 3rem;
  }

  .center-text {
    display: inline-block;
  }

  .icon {
    margin: 0 auto;
  }

  #features .features-2 {
    margin-top: 3rem;
    text-align: center;
  }

  #features .advanced {
    margin-top: 2.25rem;
    text-align: center;
  }
  #features .feature-3 {
    margin-top: 4rem;
    text-align: center;
  }

  #features .ultimate-features {
    text-align: center;
  }

  #features .ultimate-features .smart-phone {
    position: relative;
    width: 16rem;
}

#features .ultimate-features .smart-phone img {
  position: absolute;
  margin-top: 8rem;
  right: 1rem;
}

#features .ultimate-features .smart-phone img:last-child {
  z-index: 1;
  top: -0.5rem;
  left: 7rem;
}

  #features .ultimate-features button {
    display: inline-block;
    margin: 0 auto;
  }

  #pricing{
    margin-top: 30rem;
  }
  
  #our-client {
    margin-top: 2rem;
}
   #our-client .client-content{
      text-align: center;
      margin-top: 3rem;
   }

   #our-client .client-content .stars{
    display: inline-block;
   }

   #our-client .client-content .client p i {
    margin-left: 7rem;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem 0;
    margin-top: 1rem;
}
   #download-app .content{
        text-align: center;
   }

   #download-app .download-img1 {
      text-align: center;
      margin-bottom: 2rem;
   }
  footer{
    margin-top: -1.6rem;
  }
  footer .navbar-nav {
    flex-direction: column;
  }

  footer .copyright p {
    padding-bottom: 6rem;
    font-size: 0.9rem;
}

  br {
    display: none;
  }
}

/* For device equal to or less than 767px */

@media only screen and (max-width: 576px) and(min-width: 768px) {
  #banner .content {
    margin-top: 5.375rem;
  }

  .key-features {
    margin-top: 3rem;
    text-align: center;
  }

  #features {
    margin-top: 3.5rem;
    padding: 1.25rem 0;
  }

  .center-text {
    display: flex;
    justify-content: center;
  }
  #features .features-2 {
    margin-top: 4rem;
    text-align: center;
  }

  .icon {
    margin: 0 auto;
  }

  #features .advanced {
    margin-top: 4.25rem;
    text-align: center;
  }

  #features .feature-3 {
    margin-top: 4rem;
    text-align: center;
  }

  #features .content-img {
    width: 31rem;
    max-width: 100%;
  }

  #features .ultimate-features button {
    display: inline-block;
    margin: 0 auto;
  }

  #features .ultimate-features .smart-phone img {
    position: absolute;
    margin-top: 9rem;
  }

  #features .ultimate-features .smart-phone {
    position: relative;
    width: 24rem;
    right: 8rem;
  }

  #features .ultimate-features .smart-phone img:last-child {
    z-index: 1;
    top: -0.5rem;
    left: 23rem;
  }
}

/* For device equal to or less than 991px */

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .key-features {
    text-align: center;
  }

  .icon {
    margin: 0 auto;
  }

  #features .features-content .content-description {
    margin: 0 auto;
  }

  .font-size-resp {
    font-size: 1rem !important;
  }

  #features .content-img {
    width: 26.25rem;
    max-width: 100%;
    padding-top: 13rem;
}

  #features .advanced {
    margin-top: 6.25rem;
    text-align: center;
  }

  #features .ultimate-features .smart-phone {
    position: relative;
    width: 18rem;
    right: 6rem;
  }

  #features .ultimate-features .smart-phone img {
    position: absolute;
    margin-top: 10rem;
    right: -3rem;
  }

  #features .ultimate-features .smart-phone img:last-child {
    z-index: 1;
    top: -0.5rem;
    left: 9rem;
} 

  #features .ultimate-features button {
    display: inline-block;
    margin: 0 9rem;
  }
  
  #download-app .download-img1{
    display: flex;
    width: 9rem;
  }

  footer{
    margin-top: 0;
  }
}

/* For device equal to or less than 1199px */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #features {
    margin-top: 5.5rem;
    padding: 1.25rem 0;
    text-align: center;
  }
  #features .features-content {
    margin-top: 3rem;
    text-align: center;
  }

  .icon {
    margin: 0 auto;
  }

  #features .features-content .content-description {
    margin-left: 3rem;
  }

  .img-center {
    margin: auto 0;
    padding-top: 1rem;
  }

  #features .ultimate-features .smart-phone {
    position: relative;
    width: 24rem;
    right: 4rem;
  }

  #features .ultimate-features .smart-phone img {
    position: absolute;
    margin-top: 4rem;
    right: 0rem;
  }

  #download-app .content h3 {  
    font-size: 1.8rem;
}

  #download-app .download-img1{
    display: flex;
    width: 10rem;
  }
}
