body {
  background-color: #fdfdfe;
  overflow-x:hidden ;
}

/* Navigation */

#navbar {
  background-color: #fdfdfe !important ;
  position: sticky;
  top: 0;
  z-index: 11;
}

.navbar-brand img {
  width: 6.063rem;
}

.navbar-nav .nav-item {
  padding: 0 0.625rem;
}

.navbar-nav .nav-item .nav-link {
  color: #242f51;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
}

.btn-primary {
  background-color: #2500f9 !important;
  color: #ecebfe !important;
  box-shadow: none;
  border: none;
  border-radius: 1.625rem;
  width: 8.75rem;
  padding: 0.75rem 0rem;
  font-weight: 700 !important;
  font-family: "Poppins", sans-serif !important;
}

.btn-primary:hover {
  background-color: #6d56ee !important;
}

.navbar-toggler {
  border: none;
  outline: none;
}

/* Navigation end */

/* Banner */

#banner .content {
  margin-top: 9.375rem;
}

#banner .editors-choice {
  display: inline-block;
  width: 1.875rem;
  background-color: #feaa25;
  border-radius: 50%;
  text-align: center;
  padding: 0.313rem 0rem;
  font-size: 0.75rem;
  color: #fff;
  position: relative;
  z-index: 1;
}

#banner span {
  display: inline-block;
  background: #e2eaed;
  width: 18.125rem;
  height: 1.75rem;
  padding: 0.063rem 1.313rem;
  margin-right: -0.688rem;
  z-index: -1;
  position: relative;
  border-radius: 1.188rem;
  margin-bottom: 0.438rem;
}

#banner span p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

#banner h1 {
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 3.125rem;
  margin-bottom: 0.625rem;
}

#banner .p-special {
  color: #919295;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.875rem;
}

#banner a {
  color: #2500f9;
  text-decoration: none;
  margin-left: 1.563rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

#banner a:hover {
  color: #6c52fc;
}

#banner .mobile-img {
  float: right;
  width: 80%;
}

/* Banner end */

/* Trusted By */

#trusted-by {
  margin-top: 7.5rem;
  padding: 1.875rem 0;
}

#trusted-by h3 {
  color: #242f51;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1.875rem;
  text-align: center;
}

#trusted-by .company-logo img {
  margin: 0 1.25rem;
  margin-bottom: 1.25rem;
}

/* Trusted By end */

/* Features */

#features {
  margin-top: 7.5rem;
  padding: 1.25rem 0;
}

#features .content-img {
  width: 26.25rem;
  max-width: 100%;
}

#features .content h4 {
  color: #242f51;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 1.813rem;
}

#features .content p {
  color: #616368;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

#features .features-content {
  margin-top: 5rem;
}

#features .features-content img {
  object-fit: cover;
}

#features .features-content .icon,
#features .advanced .icon, 
#features .choose-us .icon,
#features .ultimate-features .icon
{
  width: 5.313rem;
  padding: 1rem;
  border-radius: 50%;
}

#features .features-content .performance-icon,
#features .advanced .performance-icon,
#features .choose-us .performance-icon,
#features .ultimate-features .performance-icon
{
  background-color: #ffecef;
}

#features .features-content .prototyping-icon,
#features .advanced .prototyping-icon,
#features .choose-us .prototyping-icon
{
  background-color: #f4f4ff;
}

#features .features-content .Editing-icon,
#features .advanced .Editing-icon,
#features .choose-us .Editing-icon,
#features .ultimate-features .Editing-icon
{
  background-color: #e4ffee;
}

#features .features-content .content-description {
  margin-left: 1rem;
}

#features .features-content .content-description h3 {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#features .features-2 {
  margin-top: 5rem;
}

#features .features-2 .line {
  width: 0.125rem;
  height: 6.25rem;
  background-color: #b9b9b8;
  display: inline-block;
  margin-left: 3.125rem;
}

#features .features-2 p {
  font-size: 0.75rem;
}

#features .advanced {
  margin-top: 6.25rem;
}

#features .advanced h3,
#features .feature-3 h3 {
  font-size: 1.063rem;
  margin-top: 1.563rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#features .advanced p,
#features .feature-3 p {
  color: #616368;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
}

#features .feature-3 {
  margin-top: 4rem;
}

#features .feature-3 h3 {
  font-size: 1.3rem;
  color: #242f51;
  margin-bottom: 1rem;
}

#features .feature-3 p {
  margin-bottom: 1.9rem;
}

#features .choose-us {
  margin-top: 10rem;
}

#features .choose-us h3,
#features .ultimate-features h3
 {
  color: #242f51;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#features .choose-us .icon{
  margin: 0 auto;
  margin-top: 2rem;
}

#features .choose-us .yellow-icon,
#features .ultimate-features .yellow-icon
{
  background-color: #fff6d3;
}

#features .choose-us .purple-icon,
#features .ultimate-features .purple-icon
{
  background-color: #f4f4ff;
}

#features .choose-us .orange-icon,
#features .ultimate-features .orange-icon
{
  background-color: #fdeee4;
}

#features .choose-us .choose-us-content  h2,
#features .ultimate-features h2
{
  color: #242f51;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
}

#features .choose-us .choose-us-content p{
  color: #616368;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}


#features .ultimate-features{
  margin-top: 7rem;
}


#features .ultimate-features .smart-phone{
  position: relative;
  width: 24rem;
}

#features .ultimate-features .smart-phone img {
  position: absolute;
  margin-top: 4rem;
}

#features .ultimate-features .smart-phone img:last-child{
  z-index: 1;
  top: -0.5rem;
  left: 12rem;
}




